---
# Default variables for all ephemeral nodes

sysctl_list:
  - name: "net.ipv4.ip_forward"
    value: 1
    state: present
  - name: "vm.dirty_writeback_centisecs"
    value: 6000
    state: present
  - name: "vm.dirty_ratio"
    value: 80
    state: present
  - name: "vm.dirty_background_ratio"
    value: 50
    state: present
  - name: "vm.swappiness"
    value: 1
    state: present
  - name: "vm.vfs_cache_pressure"
    value: 100
    state: present
  - name: "vm.page-cluster"
    value: 0
    state: present
  - name: "net.ipv6.conf.all.disable_ipv6"
    value: 1
    state: present
  - name: "net.ipv6.conf.default.disable_ipv6"
    value: 1
    state: present
  - name: "net.ipv6.conf.lo.disable_ipv6"
    value: 1
    state: present
  - name: "fs.inotify.max_user_watches"
    value: 9999999
    state: present
  - name: "fs.inotify.max_user_instances"
    value: 9999999
    state: present

package_list:
  - bc
  - bison
  - build-essential
  - chrony
  - colordiff
  - cowsay
  - flex
  - gcc
  - git
  - glusterfs-cli
  - glusterfs-client
  - hdparm
  - jq
  - libelf-dev
  - libssl-dev
  - lm-sensors
  - lolcat
  - lz4
  - mc
  - neofetch
  - pv
  - python3-dev
  - python3-pip
  - rasdaemon
  - smartmontools
  - sshfs
  - sysstat
  - tree
  - vim-nox
  - virtualenv
  - virtualenvwrapper
  - xz-utils
  - zstd
# Glusterfs setup for tini_glusterfs
glusterfs_brick_dir: /opt/brick0
glusterfs_vol_name: tinivol
glusterfs_mount_dir: /mnt/tinivol

ansible_ssh_user: vagrant
ansible_python_interpreter: /usr/bin/python3
ansible_sudo_pass: "YourInsecurePasswdHere"

docker_compose_url: https://github.com/docker/compose/releases/download/v2.40.3/docker-compose-linux-x86_64
docker_compose_sha256: dba9d98e1ba5bfe11d88c99b9bd32fc4a0624a30fafe68eea34d61a3e42fd372

# Instead of setting in your local network DNS, you can set it here
host_list:
  - ipv4_address: "127.0.0.1"
    hostname: "us.archive.ubuntu.com"
